<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    hi from the index page.
    <h2>Dashboard</h2>
    <% if(users){ %>
        <% for (user of users){ %>
            <div> <%user.name %></div>
            <div><% user.age %></div>
            <div><% user.color %></div>
            <div><a href="/users/<%= user._id %>">view</a></div>
            <hr>
        <% } %>
    <% } %>

</body>
</html>